<p>Reference No: #{{id}}</p>
<p>Hi {{extn email}},</p>
<p>Your booking request for
  <strong>{{venueName}}</strong>
  has been cancelled.</p>

<p>Reason: <strong>{{reason}}</strong></p>

<table class="tg" style="border-spacing: 0">
  <thead>
    <tr>
      <th
        style="border: 1px solid #000000; border-collapse: collapse; padding: 15px;"
      >Details</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td
        style="border: 1px solid #000000; border-collapse: collapse; padding: 15px;"
      >
        <p>Venue: {{venueName}}</p>
        <p>Date: {{date}}</p>
        <p>Time Slots:</p>
        <ul>
          {{#each timingSlots}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
        <p>CCA: <strong>{{cca}}</strong></p>
        <p>Notes: {{notes}}</p>
      </td>
    </tr>
  </tbody>
</table>

<p>Thank you for letting us know in advance. We hope to see you again soon.</p>

<p>Cheers,<br />
  65th JCRC</p>