<p>Reference No: #{{id}}</p>
<p>Hi {{extn email}},</p>
<p>We have received your venue booking request with the following details:</p>

<table class="tg" style="border-spacing: 0">
  <thead>
    <tr>
      <th
        style="border: 1px solid #000000; border-collapse: collapse; padding: 15px;"
      >Details</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td
        style="border: 1px solid #000000; border-collapse: collapse; padding: 15px;"
      >
        <p>Venue: <strong>{{venueName}}</strong></p>
        <p>Date: {{date}}</p>
        <p>Time Slots:</p>
        <ul>
          {{#each timingSlots}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
        <p>CCA: <strong>{{cca}}</strong></p>
        <p>Notes: {{notes}}</p>
      </td>
    </tr>
  </tbody>
</table>

<p>We will get back to you in 3 calendar days.</p>

<p>For urgent approval, please drop Chwen Yeu a message on Telegram
  <strong>@chwen</strong>.</p>

<p>Cheers,<br />
  65th JCRC</p>