<p>Reference No: #{{id}}</p>
<p>Hi {{extn email}},</p>
<p>Your booking request for
  <strong>{{venueName}}</strong>
  was unsuccessful.</p>
<p>Booking request details:</p>
<p>Date: {{date}}</p>
<p>Time Slots:</p>
<ul>
  {{#each timingSlots}}
    <li>{{this}}</li>
  {{/each}}
</ul>
<p>CCA: <strong>{{cca}}</strong></p>
<p>Notes: {{notes}}</p>

<p>You may check the Venue Booking System for other available venues or time
  slots.</p>

<p>Cheers,</p>
<p>65th JCRC</p>